html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.page-section {
  width: 100%;
  padding: 5rem 0;
  scroll-margin-top: 100px;
}

.page-section:first-of-type {
  padding-top: 3.5rem;
}

.page-section:last-of-type {
  padding-bottom: 0;
}